body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 75%;
    max-width: 400px;
    white-space: nowrap;  
    overflow: none;
}

a {
    display: block;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    background-color: LightCyan;
}

ul, li {
    list-style-type: none;
}
