<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Style-type" content="text/css" />
  <link rel="stylesheet" href="styles/options.css" type="text/css" />
  <script type="text/javascript" src="scripts/settings.js"></script>
</head>
<body onload="loadOptions()">
<h1>
<img src="/images/up64.png" />
Up Down
</h1>
<h2>
Options
<button onclick="saveOptions()">Save</button>
</h2>
Sort key:
<select id="sortKey">
  <option value="url">url</option>
  <option value="title">title</option>
</select>
<br />
Is Ascending:
<input id="isAscending" type="checkbox"></input>
</body>
</html>
